<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- For localhost MySQL node -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_db</property>
		<!-- <property name="hibernate.connection.username">root</property> <property 
			name="hibernate.connection.password"></property> -->

		<!-- For jelastic MySQL node -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://mysql-testing.jelastic.servint.net/testdb</property> -->
		<property name="hibernate.connection.username">testuser</property>
		<property name="hibernate.connection.password">testpass</property>

		<!-- Connection pool size -->
		<property name="hibernate.connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Echo all SQL to stdout (SQL queries will be printed on the log file) -->
		<property name="show_sql">true</property>
		<mapping resource="org/demo/hibernate/pojos/Employee.hbm.xml" />
	</session-factory>
</hibernate-configuration>
